body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    
}
header {
    height: 69px;
}
.logo img {
    height: 50px;
    display: inline;
    
}
.logo {
    background: yellowgreen;
    display: inline;
}
nav {
    float: right;
    background-color: blue;
}
nav a {
    color: seashell;
    display: inline;
}
.cereal {
    background-image: url("./images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin: auto;
    /* position: absolute; */
    
}
.mission {
    background-color: black;
    width: 1200px;
    position: absolute;
    top: 50%;
    text-align: center;
}
.month {
    width: 1000px;
    margin: auto;
    text-align: center;
}
.pictures {
    
}
.pic {
    display: inline-block;
    padding: 7.5px;
    margin: 0px;
}
.pic img {
    height: 200px;
    width: 300px;
}
figcaption {
    padding-top: 10px;
}
.locations {
    background-image: url("./images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    text-align: center;
    margin: auto;
}
.loc {
    background-color: black;
    width: 300px;
    display: inline-block;
}
.local {
    padding-top: 10%;
}
.contact {
    text-align: center;
}