html, body {
    /* margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 100%; */
}
body {
    background-color: black;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
}
header {
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: black;
    padding: 0px 10px;
    border-bottom: 1px solid seashell
}
.logo img {
    height: 50px;
    display: inline;
    
}
.logo {
    display: inline;
    
}
nav {
    float: right;
    position: relative;
    top: 50%;
    margin-right: 10px;
    
}
nav a {
    color: seashell;
    display: inline;
    padding: 0px 20px;
    
}
.wrapper {
    height: 69px;
    width: 100%;
    color: black;
    
}
.cereal {
    background-image: url("./images/img-mission-background.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 1200px;
    margin: auto;
    padding-top: 69px;
    display: block;
    /* position: absolute; */
    
}
.mission {
    background-color: black;
    width: 1200px;
    position: absolute;
    top: 50%;
    text-align: center;
}
.month {
    width: 1000px;
    margin: auto;
    text-align: center;
    padding: 72px 0px
}
.pictures {
    
}
.pic {
    display: inline-block;
    padding: 7.5px;
    margin: 0px;
}
.pic img {
    height: 200px;
    width: 300px;
}
figcaption {
    padding-top: 10px;
}
.locations {
    background-image: url("./images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    text-align: center;
    margin: auto;
}
.loc {
    background-color: black;
    width: 300px;
    display: inline-block;
    margin: 0px 20px;
    
}
.local {
    padding-top: 10%;
}
.contact {
    text-align: center;
    height: 200px;
}
.cr {
    margin-left: 20px;
}
